#root {
}

.headerContainer {
}

.header {
  text-align: center;
  margin-top: 30px;
  color: wheat;
  font-size: 17px;
  font-weight: bold;
  font-family:  monospace;
}

.container {
  /* width: 100vw;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  width: 70%;
  height: 70%;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* flex: 1; */
  justify-content: space-between;
  /* background-color: #b1d8b7; */
  /* margin-top: 50px; */
  border: 1px solid #b1d8b7;
  border-radius: 9px;
  margin-top: 40px;
  padding: 20px;

}



input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
  border-radius: 3px; /* Set the same border-radius as the track */
}



input[type=range]{
  -webkit-appearance: none;
  appearance: none; /* Firefox */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; /* Firefox */
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #85cb93;
  margin-top: -4px;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none; /* Firefox */
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #85cb93;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
  border-radius: 3px; /* Set the same border-radius as the track */
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
  border-radius: 3px; /* Set the same border-radius as the track */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}



.label-value {

  color: 90ee90;
  font-family: monospace;
  font-size: 16px;
  display: flex;
  justify-content: space-between;


}

.slider-container {

  width: 100%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.output-container {

  width: 70%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 60px;
  color: #b1d8b7;
  font-family: monospace;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.output {
  width: 100%;
  display: flex;
  margin-left: 50%;
  
  /* flex-direction: row; */
  align-self: center;
}

.calc-amount {
  font-weight: bold;
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
  .calc-amount {
    font-weight: bold;
    font-size: 17px;
  }
  .output-container {

    width: 70%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
    color: #b1d8b7;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 400px) {
  .calc-amount {
    font-weight: bold;
    font-size: 14px;
  }
  .output-container {

    width: 70%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
    color: #b1d8b7;
    font-family: monospace;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


}

.input-box {
  border: 1px solid #b1d8b7; 
  border-radius: 5px; 
  background-color: #333333; 
  color: #b1d8b7; 
  padding: 10px; 
  font-size: 17px;
  text-align: end;
  font-weight: bold;
  margin-right: 10px;
  width: 200px;
  

}

.input-container {



display: flex;
align-items: center;
width: 30%;
margin-bottom: 5px;



}