#root {
}

.headerContainer {
}

.header {
  text-align: center;
  margin-top: 10px;
  color: #333333;
  font-size: 17px;
  font-weight: bold;
  font-family:  monospace;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: -25px;
}

.container {
  /* width: 100vw;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: #333333 1px solid; */

}

.calc-container {
  width: 100%;
  height: 70%;
  /* padding-left: 200px;
  padding-right: 200px; */
  display: flex;
  flex-direction: column;
  align-self: center;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  /* background-color: #b1d8b7; */
  /* margin-top: 50px; */
  /* border: 1px solid red; */
  border-radius: 9px;
  /* margin-top: 10px; */
  /* padding: 20px; */

}



input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
  border-radius: 3px; /* Set the same border-radius as the track */
}



input[type=range]{
  -webkit-appearance: none;
  appearance: none; /* Firefox */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; /* Firefox */
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FFD700;
  margin-top: -4px;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none; /* Firefox */
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #85cb93;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
  border-radius: 3px; /* Set the same border-radius as the track */
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
  border-radius: 3px; /* Set the same border-radius as the track */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}



.label-value {

  color: #333333;
  font-family: monospace;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border: #333333 1px green;
  /* background-color: red; */




}

.slider-container {

  width: 100%;
  /* height: 100px; */
  margin-top: 20px;
  border: 1px solid #b1d8b7;
  padding: 20px;
  border-radius: 10px  ;
  /* align-self: center; */
  /* margin-bottom: 100px; */
}

.output-container {

  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #333333;
  font-family: monospace;
  font-size: 15px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* background-color: red; */
 
}
.border-cont {

  width: 100%;
  /* height: 100px; */
  margin-top: 20px;
  border: 1px solid #b1d8b7;
  padding: 20px;
  border-radius: 10px  ;
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 100px; */
}
.output {
   width: 100%;

  /* margin-left: 50%; */
  
  /* flex-direction: row; */
  /* align-self: center; */ 

  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid black; */

}

.calc-amount {
  font-weight: bold;
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
 
  .output-container {

    width: 70%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
    color:  #333333;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


}

@media only screen and (max-width: 400px) {
  .exchange-drop-down{

    width: 100px;
    height: 30%;
    font-family: monospace;
    background-color: #333333;
    font-size: 10;
    color: #b1d8b7;
    border-radius: 3;
    
    
    }
  .output-container {

    width: 70%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
    color:  #333333;
    font-family: monospace;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 


}

.input-box {
  border: 1px solid #b1d8b7; 
  border-radius: 5px; 
  background-color: #333333; 
  color: #b1d8b7; 
  padding: 10px; 
  font-size: 17px;
  text-align: end;
  font-weight: bold;
  margin-right: 10px;
  width: 180px;
  margin-bottom: 20px;

}

@media (max-width: 768px) { 
  .exchange-drop-down{

    width: 100px;
    height: 30%;
    font-family: monospace;
    background-color: #333333;
    font-size: 10;
    color: #b1d8b7;
    border-radius: 3;
    
    
    }

  .label-value {

    color: #333333;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  
  
  }
  /* .output {
    width: 100%;
    display: flex;
 
    
    flex-direction: column;
    align-self: center;
  } */
  .output {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
  }
  .output-container {

    width: 70%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:  #333333;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .calc-amount {
    font-weight: bold;
    font-size: 13px;
  }
  .input-box {
    /* font-size: 14px;
    padding: 5px;
    width: 150px;
    margin-bottom: 10px; */


    border: 1px solid #b1d8b7; 
    border-radius: 5px; 
    background-color: #333333; 
    color: #b1d8b7; 
    padding: 7px; 
    font-size: 14px;
    text-align: end;
    font-weight: bold;
    margin-right: 10px;
    width: 160px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .side-note {

    color: #333333;
    font-size: 10px;
    font-family: monospace;
    text-align: left;
    align-self: flex-start;
    /* margin-left: 16px; */
   
   }

}

@media (max-width: 480px) {
  .calc-amount {
    font-weight: bold;
    font-size: 15px;
  }
  .exchange-drop-down{

    width: 60%;
    height: 30%;
    font-family: monospace;
    background-color: #333333;
    font-size: 10;
    color: #b1d8b7;
    border-radius: 3;
    
    
    }
  .output {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center; 
    align-items: center; 
  }
  .output-container {

    width: 70%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:  #333333;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .label-value {

    color: #333333;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
  
  }

  .input-box {
    /* font-size: 14px;
    padding: 5px;
    width: 150px;
    margin-bottom: 10px; */
  

    border: 1px solid #b1d8b7; 
    border-radius: 5px; 
    background-color: #333333; 
    color: #b1d8b7; 
    padding: 7px; 
    font-size: 14px;
    text-align: end;
    font-weight: bold;
    margin-right: 10px;
    width: 160px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .side-note {

    color: #333333;
    font-size: 10px;
    font-family: monospace;
    text-align: left;
    align-self: flex-start;
    margin-top: 5;
    /* margin-left: 16px; */
   
   }
}

.input-container {







    display: flex;
  
    align-items: center;
    width: 30%;
    margin-bottom: 5px;
    justify-content: space-between;
 
    /* flex-wrap: wrap; */
    
    
    
    
    
    




}

.rewards-title {


  font-family: monospace;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  color: #333333;
  /* align-self: center; */
  text-decoration: underline;
  margin-bottom: 20px;
  /* margin: 0 auto; */
}

.amount-short-title {


  font-family: monospace;
  font-size: 17px;
  font-weight: bold;
  /* margin-top: 30px; */
  color: #333333;
  align-self: center;
  margin-right: 2px;
  /* width: 65px; */
  
}


.main-cont{

width: 100%;
justify-content: center;
align-items: center;


}


.side-note {

 color: #333333;
 font-size: 13px;
 font-family: monospace;
 text-align: left;
 align-self: flex-start;
 /* margin-left: 16px; */

}

.exchange-drop-down{

width: 100%;
height: 30%;
font-family: monospace;
background-color: #333333;
font-size: 6;
color: #b1d8b7;
border-radius: 3;


}

.drop-placeholder {

  font-size: 10;
  color: #b1d8b7;


}


@media screen and (max-width: 768px) {
  .exchange-drop-down {
    width: 50%;
    margin-top: 10px;
  }
}
